{% assign productData = product %}
{% if productData %}
 {% liquid
   assign triggerId = productData.selected_or_first_available_variant.id
   assign handle = productData.handle
   assign productId = productData.id
   assign blockId = block.id
 %}
 <div id="qbk-bogo-offer-{{ productId }}-{{ blockId }}"></div>
 <qbk-inject-offer
   mount-id="qbk-bogo-offer-{{ productId }}-{{ blockId }}"
   handle="{{ handle }}"
   section-id="{{ section.id }}"
   trigger-id="{{ triggerId }}"
   product-id="{{ productId }}"
   type="bogo"
 >
 </qbk-inject-offer>
{% endif %}

<style>
.qbk-offer-box__header{
  text-align:center;
}
.qbk-description{
  opacity: 100;
}
</style>