

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-571319148085445504.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-571319148085445504.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-571319148085445504.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-571319148085445504.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-571319148085445504.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-571319148085445504.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-571319148085445504.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-571319148085445504.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-571319148085445504.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-571319148085445504.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-571319148085445504.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-571319148085445504.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-571319148085445504.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-571319148085445504.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-571319148085445504.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-571319148085445504.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-571319148085445504.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-571319148085445504.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-571319148085445504.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-571319148085445504.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-571319148085445504.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-571319148085445504.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-571319148085445504.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-571319148085445504.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-571319148085445504.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-571319148085445504.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-571319148085445504.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-571319148085445504.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-571319148085445504.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-571319148085445504.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-571319148085445504.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-571319148085445504.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-571319148085445504.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-571319148085445504.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-571319148085445504.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-571319148085445504.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-571319148085445504.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-571319148085445504.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-571319148085445504.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-571319148085445504.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-571319148085445504.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-571319148085445504.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-571319148085445504.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-571319148085445504.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-571319148085445504.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-571319148085445504.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-571319148085445504.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-571319148085445504.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-571319148085445504.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-571319148085445504.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-571319148085445504.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-571319148085445504.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-571319148085445504.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-571319148085445504.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-571319148085445504.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-571319148085445504.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-571319148085445504.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-571319148085445504.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-571319148085445504.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-571319148085445504.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-571319148085445504.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-571319148085445504.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-571319148085445504.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-571319148085445504.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-571319148085445504.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-571319148085445504.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-571319148085445504.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-571319148085445504.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-571319148085445504.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-571319148085445504.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-571319148085445504.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-571319148085445504.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-571319148085445504.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-571319148085445504.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-571319148085445504.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-571319148085445504.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-571319148085445504 .\!gp-relative{position:relative!important}.gps-571319148085445504 .gp-relative{position:relative}.gps-571319148085445504 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-571319148085445504 .gp-mb-0{margin-bottom:0}.gps-571319148085445504 .gp-flex{display:flex}.gps-571319148085445504 .gp-inline-flex{display:inline-flex}.gps-571319148085445504 .gp-grid{display:grid}.gps-571319148085445504 .\!gp-hidden{display:none!important}.gps-571319148085445504 .gp-hidden{display:none}.gps-571319148085445504 .gp-h-full{height:100%}.gps-571319148085445504 .gp-w-full{width:100%}.gps-571319148085445504 .gp-max-w-full{max-width:100%}.gps-571319148085445504 .gp-shrink-0{flex-shrink:0}.gps-571319148085445504 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-571319148085445504 .gp-flex-col{flex-direction:column}.gps-571319148085445504 .gp-items-center{align-items:center}.gps-571319148085445504 .gp-justify-center{justify-content:center}.gps-571319148085445504 .gp-gap-y-0{row-gap:0}.gps-571319148085445504 .gp-overflow-hidden{overflow:hidden}.gps-571319148085445504 .gp-text-left{text-align:left}.gps-571319148085445504 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-571319148085445504 .gp-duration-200{transition-duration:.2s}.gps-571319148085445504 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-571319148085445504 .tablet\:\!gp-hidden{display:none!important}.gps-571319148085445504 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-571319148085445504 .mobile\:\!gp-hidden{display:none!important}.gps-571319148085445504 .mobile\:gp-hidden{display:none}}.gps-571319148085445504 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-571319148085445504 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-571319148085445504 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-571319148085445504 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-571319148085445504 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-571319148085445504 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-571319148085445504 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-571319148085445504 .\[\&_p\]\:gp-inline p{display:inline}.gps-571319148085445504 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-571319148085445504 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gGNFPjYH5I" data-id="gGNFPjYH5I"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#dcf6ff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGNFPjYH5I gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcsgEPh9ZR gp-relative gp-flex gp-flex-col"
    >
       
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-marquee.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee
   data-id="gDLpmWJnqS"
    
  gp-data='{"setting":{"activeItem":"0","childItem":["Item 2","Item 3","Item 4","Item 6","Item 7"],"direction":"left","hasItemShadow":false,"hoverItem":"0","iconSeparatorSvg":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z\"></path></svg>","isPreview":false,"isShowIconSeparator":false,"itemWidthType":{"desktop":"FIT_CONTENT","mobile":"FIT_CONTENT","tablet":"FIT_CONTENT"},"speed":"0.3","stopOnHover":true,"uid":"gDLpmWJnqS"},"styles":{"align":{"desktop":"center"},"backgroundColor":{"desktop":"#DCF6FF"},"iconSeparatorColor":"#0C0C0C","iconSeparatorSize":{"desktop":24,"mobile":24,"tablet":24},"itemBackgroundColor":{"desktop":"transparent"},"itemBorderStyle":{"border":"none","borderType":"none","borderWidth":"1px","color":"#000000","isCustom":false,"width":"1px 1px 1px 1px"},"itemCorner":{"radiusType":"none"},"itemMaxWidth":{"desktop":"300px","mobile":"300px","tablet":"300px"},"itemShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"itemSpacing":{"desktop":"55px","mobile":"56px","tablet":"56px"},"sizeSetting":{"desktop":{"gap":"","height":"auto","shapeLinked":false,"width":"100%"}}}}'
  class="gDLpmWJnqS"
  >
   <div
      class="gp-flex gp-w-full gp-relative"
      style="--jc:center"
    >
  <div class="!gp-relative gp-overflow-hidden" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bg:#DCF6FF;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-m);--mr:var(--g-s-m);--pt:0px;--pb:0px;--ml-mobile:var(--g-s-m);--mr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-xxs);--pb-mobile:var(--g-s-xxs)">
        <div
    class="gem-marquee gp-overflow-hidden gp-w-full gp-h-full"
     
    >
     <div class="gp-overflow-hidden gp-w-full gp-h-full">
       
   <div
      style="--pause-on-hover:paused;--pause-on-click:paused;--width:100%;--transform:none;overflow:hidden;min-width:100%"
      class="rfm-marquee-container"
    >
      <div
        class="rfm-marquee"
        style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"
      >
        <div class="rfm-initial-child-container">
          
            <div style="--transform:none;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto" class="rfm-child">
               <div class="gp-flex gem-child-marquee-item gp-items-center" style="[object Object]">
       <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:55px;--pr-tablet:56px;--pr-mobile:56px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset"
                >
                  <div
      class="gjBfg9heNh gem-marquee-item gem-marquee-item-gjBfg9heNh gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     <div gp-el-wrapper  class="gctZJv3zhP ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gctZJv3zhP"
      data-id="gctZJv3zhP"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":25,"mobile":16,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gctZJv3zhP"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#000000;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817649810145640">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M237.28,97.87A14.18,14.18,0,0,0,224.76,88l-60.25-4.87-23.22-56.2a14.37,14.37,0,0,0-26.58,0L91.49,83.11,31.24,88a14.18,14.18,0,0,0-12.52,9.89A14.43,14.43,0,0,0,23,113.32L69,152.93l-14,59.25a14.4,14.4,0,0,0,5.59,15,14.1,14.1,0,0,0,15.91.6L128,196.12l51.58,31.71a14.1,14.1,0,0,0,15.91-.6,14.4,14.4,0,0,0,5.59-15l-14-59.25L233,113.32A14.43,14.43,0,0,0,237.28,97.87Zm-12.14,6.37-48.69,42a6,6,0,0,0-1.92,5.92l14.88,62.79a2.35,2.35,0,0,1-.95,2.57,2.24,2.24,0,0,1-2.6.1L131.14,184a6,6,0,0,0-6.28,0L70.14,217.61a2.24,2.24,0,0,1-2.6-.1,2.35,2.35,0,0,1-1-2.57l14.88-62.79a6,6,0,0,0-1.92-5.92l-48.69-42a2.37,2.37,0,0,1-.73-2.65,2.28,2.28,0,0,1,2.07-1.65l63.92-5.16a6,6,0,0,0,5.06-3.69l24.63-59.6a2.35,2.35,0,0,1,4.38,0l24.63,59.6a6,6,0,0,0,5.06,3.69l63.92,5.16a2.28,2.28,0,0,1,2.07,1.65A2.37,2.37,0,0,1,225.14,104.24Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:130%;--lh-tablet:100%;--lh-mobile:130%;--c:#121212;--tt:uppercase">
                {{ section.settings.ggctZJv3zhP_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
                   
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:55px;--pr-tablet:56px;--pr-mobile:56px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset"
                >
                  <div
      class="gDIvbgO7mP gem-marquee-item gem-marquee-item-gDIvbgO7mP gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     <div gp-el-wrapper  class="gAShTEIpDz ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gAShTEIpDz"
      data-id="gAShTEIpDz"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":39,"mobile":24,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gAShTEIpDz"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#fee6e6;--w:100%;--h:100%;--size-desktop:39px;--size-tablet:16px;--size-mobile:24px"
              >
               <?xml version="1.0" encoding="utf-8"?><!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg data-id="560194171625800890" class="id560194171625800890" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 141.73 141.73" style="enable-background:new 0 0 141.73 141.73;" xml:space="preserve">
<style type="text/css">
	.id560194171625800890 .st0{clip-path:url(#SVGID_2_);fill:#20262B;}
	.id560194171625800890 .st1{clip-path:url(#SVGID_4_);fill:#20262B;}
	.id560194171625800890 .st2{clip-path:url(#SVGID_6_);fill:#20262B;}
	.id560194171625800890 .st3{clip-path:url(#SVGID_8_);fill:#20262B;}
	.id560194171625800890 .st4{clip-path:url(#SVGID_10_);fill:#20262B;}
	.id560194171625800890 .st5{clip-path:url(#SVGID_12_);fill:#20262B;}
	.id560194171625800890 .st6{clip-path:url(#SVGID_14_);fill:#20262B;}
	.id560194171625800890 .st7{clip-path:url(#SVGID_16_);fill:#20262B;}
	.id560194171625800890 .st8{clip-path:url(#SVGID_18_);fill:#20262B;}
	.id560194171625800890 .st9{clip-path:url(#SVGID_20_);fill:#20262B;}
	.id560194171625800890 .st10{clip-path:url(#SVGID_22_);fill:#20262B;}
</style>
<g>
	<g>
		<defs>
			<rect id="SVGID_1_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_2_">
			<use xlink:href="#SVGID_1_" style="overflow:visible;"/>
		</clipPath>
		<path class="st0" d="M56.01,91.25c-4.62,0-8.39,3.76-8.39,8.39c0,4.62,3.76,8.39,8.39,8.39s8.39-3.76,8.39-8.39    C64.39,95.01,60.63,91.25,56.01,91.25 M56.01,111.02c-6.28,0-11.38-5.11-11.38-11.38c0-6.28,5.11-11.38,11.38-11.38    c6.28,0,11.38,5.11,11.38,11.38C67.39,105.91,62.28,111.02,56.01,111.02"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_3_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_4_">
			<use xlink:href="#SVGID_3_" style="overflow:visible;"/>
		</clipPath>
		<path class="st1" d="M118.25,91.25c-4.62,0-8.39,3.76-8.39,8.39c0,4.62,3.76,8.39,8.39,8.39c4.62,0,8.39-3.76,8.39-8.39    C126.63,95.01,122.87,91.25,118.25,91.25 M118.25,111.02c-6.28,0-11.38-5.11-11.38-11.38c0-6.28,5.11-11.38,11.38-11.38    c6.28,0,11.38,5.11,11.38,11.38C129.63,105.91,124.52,111.02,118.25,111.02"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_5_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_6_">
			<use xlink:href="#SVGID_5_" style="overflow:visible;"/>
		</clipPath>
		<path class="st2" d="M53.58,99.63c0-1.34,1.08-2.42,2.42-2.42c1.34,0,2.42,1.08,2.42,2.42s-1.09,2.42-2.42,2.42    C54.67,102.06,53.58,100.97,53.58,99.63"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_7_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_8_">
			<use xlink:href="#SVGID_7_" style="overflow:visible;"/>
		</clipPath>
		<path class="st3" d="M116.09,99.63c0-1.34,1.08-2.42,2.42-2.42s2.42,1.08,2.42,2.42s-1.09,2.42-2.42,2.42    C117.18,102.06,116.09,100.97,116.09,99.63"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_9_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_10_">
			<use xlink:href="#SVGID_9_" style="overflow:visible;"/>
		</clipPath>
		<path class="st4" d="M26.35,74.76c-0.07,0-0.15-0.01-0.23-0.02C15.97,73.2,8.63,74.63,8.56,74.65c-0.81,0.16-1.6-0.36-1.76-1.17    c-0.16-0.81,0.36-1.6,1.17-1.76c0.32-0.06,7.89-1.55,18.6,0.07c0.82,0.12,1.38,0.89,1.26,1.71    C27.71,74.23,27.07,74.76,26.35,74.76"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_11_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_12_">
			<use xlink:href="#SVGID_11_" style="overflow:visible;"/>
		</clipPath>
		<path class="st5" d="M26.53,63.44c-0.04,0-0.08,0-0.13-0.01c-4.49-0.37-9.22-0.39-13.67-0.03c-0.83,0.06-1.55-0.55-1.61-1.38    c-0.07-0.83,0.55-1.55,1.38-1.61c4.61-0.37,9.51-0.36,14.16,0.03c0.83,0.07,1.44,0.79,1.37,1.62    C27.96,62.85,27.31,63.44,26.53,63.44"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_13_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_14_">
			<use xlink:href="#SVGID_13_" style="overflow:visible;"/>
		</clipPath>
		<path class="st6" d="M34.44,86.43c-0.05,0-0.1,0-0.15-0.01c-0.77-0.07-1.52-0.16-2.27-0.26c-9.55-1.26-19.18-0.84-25.59-0.26    c-0.82,0.08-1.55-0.53-1.63-1.36c-0.07-0.83,0.53-1.55,1.36-1.63c6.56-0.59,16.43-1.02,26.25,0.28c0.71,0.09,1.44,0.18,2.17,0.25    c0.82,0.08,1.43,0.81,1.35,1.64C35.86,85.85,35.2,86.43,34.44,86.43"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_15_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_16_">
			<use xlink:href="#SVGID_15_" style="overflow:visible;"/>
		</clipPath>
		<path class="st7" d="M34.46,52.56c-0.02,0-0.04,0-0.06,0c-0.77-0.03-1.53-0.08-2.28-0.13c-4.68-0.35-9.81-0.34-15.25,0.04    c-0.82,0.06-1.54-0.56-1.6-1.39c-0.06-0.83,0.57-1.54,1.39-1.6c5.58-0.39,10.86-0.4,15.68-0.04c0.71,0.05,1.44,0.1,2.18,0.13    c0.83,0.03,1.47,0.73,1.43,1.56C35.92,51.93,35.26,52.56,34.46,52.56"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_17_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_18_">
			<use xlink:href="#SVGID_17_" style="overflow:visible;"/>
		</clipPath>
		<path class="st8" d="M101.45,101.55H65.89c-0.83,0-1.5-0.67-1.5-1.5s0.67-1.5,1.5-1.5h34.06V39.57H25.41c-0.83,0-1.5-0.67-1.5-1.5    s0.67-1.5,1.5-1.5h76.04c0.83,0,1.5,0.67,1.5,1.5v61.97C102.95,100.88,102.28,101.55,101.45,101.55"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_19_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_20_">
			<use xlink:href="#SVGID_19_" style="overflow:visible;"/>
		</clipPath>
		<path class="st9" d="M136.17,101.13h-8.04c-0.83,0-1.5-0.67-1.5-1.5s0.67-1.5,1.5-1.5h6.54V83.1l-14.3-24.18h-17.43v3.81h12.13    c0.83,0,1.5,0.67,1.5,1.5v15.6c0,0.83-0.67,1.5-1.5,1.5H101.7c-0.83,0-1.5-0.67-1.5-1.5s0.67-1.5,1.5-1.5h11.88v-12.6h-12.13    c-0.83,0-1.5-0.67-1.5-1.5v-6.81c0-0.83,0.67-1.5,1.5-1.5h19.78c0.53,0,1.02,0.28,1.29,0.74l14.94,25.27    c0.14,0.23,0.21,0.5,0.21,0.76v16.95C137.67,100.46,137,101.13,136.17,101.13"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_21_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_22_">
			<use xlink:href="#SVGID_21_" style="overflow:visible;"/>
		</clipPath>
		<path class="st10" d="M46.12,101.13H24.97c-0.83,0-1.5-0.67-1.5-1.5s0.67-1.5,1.5-1.5h21.15c0.83,0,1.5,0.67,1.5,1.5    S46.95,101.13,46.12,101.13"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_23_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_24_">
			<use xlink:href="#SVGID_23_" style="overflow:visible;"/>
		</clipPath>
	</g>
	<g>
		<defs>
			<rect id="SVGID_25_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_26_">
			<use xlink:href="#SVGID_25_" style="overflow:visible;"/>
		</clipPath>
	</g>
	<g>
		<defs>
			<rect id="SVGID_27_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_28_">
			<use xlink:href="#SVGID_27_" style="overflow:visible;"/>
		</clipPath>
	</g>
	<g>
		<defs>
			<rect id="SVGID_29_" x="4.81" y="36.58" width="132.86" height="74.44"/>
		</defs>
		<clipPath id="SVGID_30_">
			<use xlink:href="#SVGID_29_" style="overflow:visible;"/>
		</clipPath>
	</g>
</g>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:130%;--lh-tablet:100%;--lh-mobile:130%;--c:#121212">
                {{ section.settings.ggAShTEIpDz_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
                   
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:55px;--pr-tablet:56px;--pr-mobile:56px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset"
                >
                  <div
      class="gy-IIJj3RH gem-marquee-item gem-marquee-item-gy-IIJj3RH gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSOe2fmnxH">
    <div
      label="Text Block" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gSOe2fmnxH "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:130%;--lh-tablet:100%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSOe2fmnxH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gSOe2fmnxH">
        .gSOe2fmnxH {

}
.gSOe2fmnxH p {

}
      </style>
    
    </div>
                   
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:55px;--pr-tablet:56px;--pr-mobile:56px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset"
                >
                  <div
      class="gui8U7rRbP gem-marquee-item gem-marquee-item-gui8U7rRbP gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     <div gp-el-wrapper  class="g1-vP9uWy_ ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="g1-vP9uWy_"
      data-id="g1-vP9uWy_"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":30,"mobile":24,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt-mobile:0px;--pt-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g1-vP9uWy_"
            style="--cg:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#fee6e6;--w:100%;--h:100%;--size-desktop:30px;--size-tablet:16px;--size-mobile:24px"
              >
               <?xml version="1.0" encoding="utf-8"?><!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg data-id="560194431353881786" class="id560194431353881786" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 141.73 141.73" style="enable-background:new 0 0 141.73 141.73;" xml:space="preserve">
<style type="text/css">
	.id560194431353881786 .st0{clip-path:url(#SVGID_2_);fill:#20262B;}
</style>
<g>
	<defs>
		<rect id="SVGID_1_" x="12.35" y="9.44" width="117.04" height="122.84"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_" style="overflow:visible;"/>
	</clipPath>
	<path class="st0" d="M56.7,112.61c0.52,0,1.03,0.22,1.38,0.62l12.79,14.44l12.79-14.44c0.44-0.5,1.12-0.72,1.78-0.58l18.83,4.17   l1.86-19.2c0.06-0.67,0.48-1.24,1.1-1.51l17.68-7.7l-9.78-16.62c-0.34-0.58-0.34-1.29,0-1.87l9.78-16.62l-17.68-7.7   c-0.61-0.27-1.03-0.85-1.1-1.51l-1.86-19.2l-18.83,4.17c-0.65,0.14-1.33-0.08-1.78-0.58L70.87,14.04L58.08,28.48   c-0.44,0.5-1.12,0.72-1.78,0.58l-18.83-4.17l-1.86,19.2c-0.06,0.67-0.48,1.24-1.1,1.51l-17.68,7.7l9.78,16.62   c0.34,0.58,0.34,1.29,0,1.87l-9.78,16.62l17.68,7.7c0.61,0.27,1.03,0.85,1.1,1.51l1.86,19.2l18.83-4.17   C56.43,112.62,56.57,112.61,56.7,112.61 M70.87,132.29c-0.53,0-1.03-0.23-1.38-0.62l-13.45-15.18l-19.8,4.38   c-0.51,0.11-1.06,0-1.48-0.31c-0.43-0.31-0.7-0.79-0.75-1.31l-1.95-20.19l-18.59-8.1c-0.48-0.21-0.85-0.62-1.02-1.12   c-0.16-0.5-0.1-1.05,0.16-1.5l10.28-17.48L12.6,53.37c-0.27-0.45-0.33-1-0.16-1.5c0.16-0.5,0.53-0.91,1.02-1.12l18.59-8.1L34,22.46   c0.05-0.52,0.32-1,0.75-1.31c0.43-0.31,0.97-0.42,1.48-0.31l19.8,4.38l13.45-15.18c0.7-0.79,2.06-0.79,2.76,0l13.45,15.18   l19.8-4.38c0.51-0.11,1.06,0,1.48,0.31c0.43,0.31,0.7,0.79,0.75,1.31l1.95,20.19l18.59,8.1c0.48,0.21,0.85,0.62,1.02,1.12   c0.16,0.5,0.1,1.05-0.16,1.5l-10.28,17.48l10.28,17.48c0.27,0.45,0.33,1,0.16,1.5c-0.16,0.5-0.53,0.91-1.02,1.12l-18.59,8.1   l-1.95,20.19c-0.05,0.53-0.32,1-0.75,1.31c-0.43,0.31-0.97,0.42-1.48,0.31l-19.8-4.38l-13.45,15.18   C71.9,132.06,71.39,132.29,70.87,132.29"/>
	<path class="st0" d="M70.87,35.61c-19.43,0-35.24,15.81-35.24,35.24s15.81,35.24,35.24,35.24s35.24-15.81,35.24-35.24   S90.3,35.61,70.87,35.61 M70.87,109.78c-21.47,0-38.93-17.46-38.93-38.93c0-21.46,17.46-38.93,38.93-38.93   c21.46,0,38.93,17.46,38.93,38.93C109.79,92.32,92.33,109.78,70.87,109.78"/>
	<path class="st0" d="M83.53,85.29c1.24,0,2.07,0.65,2.07,1.9c0,1.12-0.83,1.89-2.07,1.89H57.35c-1.36,0-2.25-0.77-2.25-2.01   c0-0.95,0.41-1.48,0.95-1.95c2.49-2.13,4.2-4.97,4.2-9.77c0-1.13-0.12-2.25-0.24-3.38h-3.37c-1.18,0-2.07-0.77-2.07-1.89   c0-1.24,0.89-1.9,2.07-1.9h2.84c-0.24-1.72-0.47-3.49-0.47-5.27c0-8.29,4.8-13.03,13.15-13.03c5.27,0,9.18,1.6,11.67,4.62   c0.3,0.36,0.41,0.77,0.41,1.24c0,1.13-0.77,1.9-1.84,1.9c-0.59,0-1.12-0.24-1.48-0.59c-1.95-2.19-4.62-3.43-8.7-3.43   c-5.86,0-9.06,3.26-9.06,9.3c0,1.72,0.18,3.49,0.41,5.27h17.29c1.18,0,2.01,0.65,2.01,1.9c0,1.12-0.83,1.89-2.01,1.89H63.98   c0.06,1.01,0.12,2.01,0.12,3.02c0,4.98-1.48,8.05-3.91,10.19v0.12H83.53z"/>
</g>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:130%;--lh-tablet:100%;--lh-mobile:130%;--c:#121212;--tt:uppercase">
                {{ section.settings.gg1-vP9uWy__childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
                   
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:55px;--pr-tablet:56px;--pr-mobile:56px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset"
                >
                  <div
      class="g9zOlY8ARp gem-marquee-item gem-marquee-item-g9zOlY8ARp gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     <div gp-el-wrapper  class="gxc8MZFvrp ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gxc8MZFvrp"
      data-id="gxc8MZFvrp"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":30,"mobile":21,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gxc8MZFvrp"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#fee6e6;--w:100%;--h:100%;--size-desktop:30px;--size-tablet:16px;--size-mobile:21px"
              >
               <?xml version="1.0" encoding="UTF-8"?><svg data-id="560194515239961797" class="id560194515239961797" xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 388 388"><defs><style>.id560194515239961797 .cls-1{stroke:#000;stroke-width:8.48px;}.id560194515239961797 .cls-1,.cls-2{fill:none;}.id560194515239961797 .cls-2{stroke-width:0px;}</style></defs><rect class="cls-2" width="388" height="388"/><polyline class="cls-1" points="108.08 255.25 67.43 345.62 107.24 339.19 128.56 373.13 167.73 286.07"/><polyline class="cls-1" points="279.92 257.29 320.58 347.67 280.77 341.23 259.44 375.17 218.78 284.8"/><polygon class="cls-1" points="194 99.18 212.66 136.99 254.38 143.05 224.19 172.48 231.32 214.03 194 194.41 156.68 214.03 163.81 172.48 133.62 143.05 175.34 136.99 194 99.18"/><path class="cls-1" d="m329.32,160.69c0,11.62-12.36,21.46-15.23,32.18-2.96,11.09,2.73,25.78-2.89,35.49-5.7,9.85-21.32,12.23-29.32,20.22-7.99,7.99-10.37,23.62-20.22,29.32-9.71,5.62-24.4-.08-35.49,2.88-10.72,2.86-20.56,15.23-32.18,15.23s-21.46-12.36-32.18-15.23c-11.09-2.96-25.78,2.73-35.49-2.89-9.85-5.7-12.23-21.32-20.22-29.32-7.99-7.99-23.62-10.37-29.32-20.22-5.62-9.71.08-24.4-2.88-35.49-2.86-10.72-15.23-20.56-15.23-32.18s12.36-21.46,15.23-32.18c2.96-11.09-2.73-25.78,2.89-35.49,5.7-9.85,21.32-12.23,29.32-20.22,7.99-7.99,10.37-23.62,20.22-29.32,9.71-5.62,24.4.08,35.49-2.88,10.72-2.86,20.56-15.23,32.18-15.23s21.46,12.36,32.18,15.23c11.09,2.96,25.78-2.73,35.49,2.89,9.85,5.7,12.23,21.32,20.22,29.32,7.99,7.99,23.62,10.37,29.32,20.22,5.62,9.71-.08,24.4,2.88,35.49,2.86,10.72,15.23,20.56,15.23,32.18Z"/><circle class="cls-1" cx="194" cy="161.22" r="93.97"/></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:130%;--lh-tablet:100%;--lh-mobile:130%;--c:#121212;--tt:uppercase">
                {{ section.settings.ggxc8MZFvrp_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
                   
                </div>
    </div>
            </div>
          
        </div>
      </div>
      <div
        class="rfm-marquee placeholder-marquee"
        style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"
      ></div>
    </div>
  
     </div>
    </div>
  
  </div>
   </div>
  </gp-marquee>

    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-571319148085445504 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=571319147967808384&sectionId=571319148085445504)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggctZJv3zhP_childItem_0","label":"ggctZJv3zhP_childItem_0","default":"<p>trusted by over 3,000 parents</p>"},{"type":"html","id":"ggAShTEIpDz_childItem_0","label":"ggAShTEIpDz_childItem_0","default":"<p>FREE DELIVERY OVER £50</p>"},{"type":"html","id":"ggSOe2fmnxH_text","label":"ggSOe2fmnxH_text","default":"<p><span style=\"font-size:13px;\">Bubble </span>MEMBERSHIP EXCLUSIVE</p>"},{"type":"html","id":"gg1-vP9uWy__childItem_0","label":"gg1-vP9uWy__childItem_0","default":"<p>save now with price match</p>"},{"type":"html","id":"ggxc8MZFvrp_childItem_0","label":"ggxc8MZFvrp_childItem_0","default":"<p>4 year Warranty*</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
