

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-508712861393028217.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-508712861393028217.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-508712861393028217.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-508712861393028217.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-508712861393028217.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-508712861393028217.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-508712861393028217.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-508712861393028217.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-508712861393028217.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-508712861393028217.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-508712861393028217.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-508712861393028217.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-508712861393028217.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-508712861393028217.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-508712861393028217.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-508712861393028217.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-508712861393028217.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-508712861393028217.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-508712861393028217.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-508712861393028217.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-508712861393028217.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-508712861393028217.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-508712861393028217.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-508712861393028217.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-508712861393028217.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-508712861393028217.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-508712861393028217.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-508712861393028217.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-508712861393028217.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-508712861393028217.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-508712861393028217.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-508712861393028217.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-508712861393028217.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-508712861393028217.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-508712861393028217.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-508712861393028217.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-508712861393028217.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-508712861393028217.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-508712861393028217.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-508712861393028217.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-508712861393028217.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-508712861393028217.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-508712861393028217.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-508712861393028217.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-508712861393028217.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-508712861393028217.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-508712861393028217.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-508712861393028217.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-508712861393028217.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-508712861393028217.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-508712861393028217.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-508712861393028217.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-508712861393028217.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-508712861393028217.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-508712861393028217.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-508712861393028217.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-508712861393028217.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-508712861393028217.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-508712861393028217.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-508712861393028217.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-508712861393028217.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-508712861393028217.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-508712861393028217.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-508712861393028217.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-508712861393028217.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-508712861393028217.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-508712861393028217.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-508712861393028217.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-508712861393028217.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-508712861393028217.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-508712861393028217.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-508712861393028217 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-508712861393028217 .gp-relative{position:relative}.gps-508712861393028217 .gp-z-1{z-index:1}.gps-508712861393028217 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-508712861393028217 .gp-mb-0{margin-bottom:0}.gps-508712861393028217 .\!gp-inline{display:inline!important}.gps-508712861393028217 .gp-flex{display:flex}.gps-508712861393028217 .gp-inline-flex{display:inline-flex}.gps-508712861393028217 .gp-grid{display:grid}.gps-508712861393028217 .\!gp-hidden{display:none!important}.gps-508712861393028217 .gp-hidden{display:none}.gps-508712861393028217 .gp-h-full{height:100%}.gps-508712861393028217 .gp-w-full{width:100%}.gps-508712861393028217 .gp-max-w-full{max-width:100%}.gps-508712861393028217 .gp-flex-col{flex-direction:column}.gps-508712861393028217 .gp-items-center{align-items:center}.gps-508712861393028217 .gp-justify-center{justify-content:center}.gps-508712861393028217 .gp-gap-y-0{row-gap:0}.gps-508712861393028217 .gp-overflow-hidden{overflow:hidden}.gps-508712861393028217 .gp-break-words{overflow-wrap:break-word}.gps-508712861393028217 .gp-rounded-none{border-radius:0}.gps-508712861393028217 .gp-text-center{text-align:center}.gps-508712861393028217 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-508712861393028217 .gp-no-underline{text-decoration-line:none}.gps-508712861393028217 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-508712861393028217 .gp-duration-200{transition-duration:.2s}.gps-508712861393028217 .gp-duration-300{transition-duration:.3s}.gps-508712861393028217 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-508712861393028217 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-508712861393028217 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-508712861393028217 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-508712861393028217 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-508712861393028217 .tablet\:\!gp-hidden{display:none!important}.gps-508712861393028217 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-508712861393028217 .mobile\:\!gp-hidden{display:none!important}.gps-508712861393028217 .mobile\:gp-hidden{display:none}}.gps-508712861393028217 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-508712861393028217 .\[\&_p\]\:gp-inline p{display:inline}.gps-508712861393028217 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-508712861393028217 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-508712861393028217 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="giQ0qkeghD" data-id="giQ0qkeghD"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:40px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 254, 254)"
        class="giQ0qkeghD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXq-_ThmzG gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="guwlVUYZW-" data-id="guwlVUYZW-"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guwlVUYZW- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g83QcrvTv- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gZNfp3xq-A" data-id="gZNfp3xq-A"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:linear-gradient(0deg, #E1F7F0 93%, #FFFFFF 93%);--bgc-mobile:linear-gradient(0deg, #E1F7F0 96%, #FFFFFF 96%);--bgi:linear-gradient(0deg, #E1F7F0 93%, #FFFFFF 93%);--bgi-mobile:linear-gradient(0deg, #E1F7F0 96%, #FFFFFF 96%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gZNfp3xq-A gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gq4N7BMi6T gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gRDLp0hc19" data-id="gRDLp0hc19"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:linear-gradient(0deg, rgba(225, 247, 240, 0) 92%, #FFFFFF 92%);--bgi:url();--bgi-mobile:linear-gradient(0deg, rgba(225, 247, 240, 0) 92%, #FFFFFF 92%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gRDLp0hc19 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8UtgHiJ5h gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gNRDBPdYiw"
    role="presentation"
    class="gp-group/image gNRDBPdYiw"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:30px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-6d524dfa-195d-44e6-b4dd-447ced7fe709.jpg" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-6d524dfa-195d-44e6-b4dd-447ced7fe709.jpg' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-6d524dfa-195d-44e6-b4dd-447ced7fe709.jpg' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-6d524dfa-195d-44e6-b4dd-447ced7fe709.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjI1LTYyNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0idXJsKCNnLTYyNS02MjUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MjUiIHRvPSI2MjUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="625" height="625" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:625/625;--aspect-tablet:625/625;--aspect-mobile:625/625;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
  <gp-text data-id="gbG33Bg8LM">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gbG33Bg8LM "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m);--mb-mobile:0px;--pb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:32px;--size-tablet:21px;--size-mobile:21px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:lowercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggbG33Bg8LM_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gNrYiGsz99">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNrYiGsz99 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:var(--g-s-m);--mr:var(--g-s-m);--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNrYiGsz99_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzMgB8kxYl gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gUBOsaXicf"
    role="presentation"
    class="gp-group/image gUBOsaXicf"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-ae8296cc-9dc4-4e31-8e92-3f41f4900694.jpg" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-ae8296cc-9dc4-4e31-8e92-3f41f4900694.jpg' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-ae8296cc-9dc4-4e31-8e92-3f41f4900694.jpg' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-ae8296cc-9dc4-4e31-8e92-3f41f4900694.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjI1LTYyNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0idXJsKCNnLTYyNS02MjUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MjUiIHRvPSI2MjUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="625" height="625" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:625/625;--aspect-tablet:625/625;--aspect-mobile:625/625;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
  <gp-text data-id="gxJOuvgXYL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gxJOuvgXYL "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m);--mb-mobile:0px;--pb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:32px;--size-tablet:21px;--size-mobile:21px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:lowercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxJOuvgXYL_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gjv5jyXdoJ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gjv5jyXdoJ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:var(--g-s-m);--mr:var(--g-s-m);--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggjv5jyXdoJ_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gF8q4fDSxK gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g4fBIB-fE9"
    role="presentation"
    class="gp-group/image g4fBIB-fE9"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-363c3ad0-2387-43ca-b00c-ad34638e1241.jpg" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-363c3ad0-2387-43ca-b00c-ad34638e1241.jpg' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-363c3ad0-2387-43ca-b00c-ad34638e1241.jpg' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-363c3ad0-2387-43ca-b00c-ad34638e1241.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjI1LTYyNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0idXJsKCNnLTYyNS02MjUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MjUiIHRvPSI2MjUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="625" height="625" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:625/625;--aspect-tablet:625/625;--aspect-mobile:625/625;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
  <gp-text data-id="gF29RfZC_i">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gF29RfZC_i "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m);--mb-mobile:0px;--pb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:32px;--size-tablet:21px;--size-mobile:21px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:lowercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggF29RfZC_i_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gT6yem-bZS">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gT6yem-bZS "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:var(--g-s-m);--mr:var(--g-s-m);--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggT6yem-bZS_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gvpkGnSVbx" data-id="gvpkGnSVbx"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:linear-gradient(0deg, #E1F7F0 93%, #FFFFFF 93%);--bgc-mobile:linear-gradient(0deg, #E1F7F0 96%, #FFFFFF 96%);--bgi:linear-gradient(0deg, #E1F7F0 93%, #FFFFFF 93%);--bgi-mobile:linear-gradient(0deg, #E1F7F0 96%, #FFFFFF 96%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gvpkGnSVbx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGnf4Zya-K gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g3Q7W1ZMgp" data-id="g3Q7W1ZMgp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:linear-gradient(0deg, rgba(225, 247, 240, 0) 92%, #FFFFFF 92%);--bgi:url();--bgi-mobile:linear-gradient(0deg, rgba(225, 247, 240, 0) 92%, #FFFFFF 92%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="g3Q7W1ZMgp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfwjf5UL5z gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="grytAOYGo1"
    role="presentation"
    class="gp-group/image grytAOYGo1"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:30px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-6d524dfa-195d-44e6-b4dd-447ced7fe709.jpg" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-6d524dfa-195d-44e6-b4dd-447ced7fe709.jpg' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-6d524dfa-195d-44e6-b4dd-447ced7fe709.jpg' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-6d524dfa-195d-44e6-b4dd-447ced7fe709.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjI1LTYyNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0idXJsKCNnLTYyNS02MjUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MjUiIHRvPSI2MjUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="625" height="625" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:625/625;--aspect-tablet:625/625;--aspect-mobile:625/625;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
  <gp-text data-id="gulYB5Zoyt">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gulYB5Zoyt "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m);--mb-mobile:0px;--pb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:32px;--size-tablet:21px;--size-mobile:21px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:lowercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggulYB5Zoyt_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gjE6BzsyXZ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gjE6BzsyXZ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--ml:var(--g-s-m);--mr:var(--g-s-m);--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggjE6BzsyXZ_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gK6aLJjwc- gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g7WE50LVe2"
    role="presentation"
    class="gp-group/image g7WE50LVe2"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-ae8296cc-9dc4-4e31-8e92-3f41f4900694.jpg" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-ae8296cc-9dc4-4e31-8e92-3f41f4900694.jpg' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-ae8296cc-9dc4-4e31-8e92-3f41f4900694.jpg' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-ae8296cc-9dc4-4e31-8e92-3f41f4900694.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjI1LTYyNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0idXJsKCNnLTYyNS02MjUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MjUiIHRvPSI2MjUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="625" height="625" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:625/625;--aspect-tablet:625/625;--aspect-mobile:625/625;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
  <gp-text data-id="gqF7SR1riT">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gqF7SR1riT "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m);--mb-mobile:0px;--pb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:32px;--size-tablet:21px;--size-mobile:21px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:lowercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqF7SR1riT_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gzgXIw7m36">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gzgXIw7m36 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--ml:var(--g-s-m);--mr:var(--g-s-m);--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzgXIw7m36_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g61JVZJpoh gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gNPpban31N"
    role="presentation"
    class="gp-group/image gNPpban31N"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-363c3ad0-2387-43ca-b00c-ad34638e1241.jpg" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-363c3ad0-2387-43ca-b00c-ad34638e1241.jpg' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-363c3ad0-2387-43ca-b00c-ad34638e1241.jpg' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-363c3ad0-2387-43ca-b00c-ad34638e1241.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjI1LTYyNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjI1IiBoZWlnaHQ9IjYyNSIgZmlsbD0idXJsKCNnLTYyNS02MjUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MjUiIHRvPSI2MjUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="625" height="625" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:625/625;--aspect-tablet:625/625;--aspect-mobile:625/625;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
  <gp-text data-id="g7J0EKg1pW">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g7J0EKg1pW "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m);--mb-mobile:0px;--pb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:32px;--size-tablet:21px;--size-mobile:21px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:lowercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7J0EKg1pW_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gVNFexZ61O">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gVNFexZ61O "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--ml:var(--g-s-m);--mr:var(--g-s-m);--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVNFexZ61O_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:var(--g-s-m);--ta:center"
    
  >
    <style>
    .gJfuMYq49v.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gJfuMYq49v:hover::before {
      
      
    }

    .gJfuMYq49v:hover .gp-button-icon {
      color: undefined;
    }

     .gJfuMYq49v .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gJfuMYq49v:hover .gp-button-price {
      color: undefined;
    }

    .gJfuMYq49v .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gJfuMYq49v .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gJfuMYq49v:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gwZQDZMvAY" target="_blank" data-id="gJfuMYq49v" aria-label="read more"
      
      data-state="idle"
      class="gJfuMYq49v gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#212121;--bg:#212121;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-l);--pr:var(--g-s-l);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--c:var(--g-c-text-3, text-3);--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggJfuMYq49v_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gJfuMYq49v">
        .gJfuMYq49v span {
    color: white;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-508712861393028217 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=508712774453429369&sectionId=508712861393028217)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggbG33Bg8LM_text","label":"ggbG33Bg8LM_text","default":"<p>tested &amp; approved</p>"},{"type":"html","id":"ggNrYiGsz99_text","label":"ggNrYiGsz99_text","default":"<p>We work with expert manufacturers to ensure our products meet all relevant British and European safety standards. We also have a Primary Authority Partnership which provides us with assured advise on product quality and safety. Our products are regularly reviewed by industry experts and approved by media bodies. Check out our awards for more info.&nbsp;</p>"},{"type":"html","id":"ggxJOuvgXYL_text","label":"ggxJOuvgXYL_text","default":"<p>endorsed&nbsp;<br>by parents</p>"},{"type":"html","id":"ggjv5jyXdoJ_text","label":"ggjv5jyXdoJ_text","default":"<p>We design products to help you navigate everyday life with bubba, that's why your opinion matters most. Check out #MyIckleBubba on Instagram to see our products out and about in real life. Read our reviews on-site and check out our awards to see why parent-testers rate us.</p>"},{"type":"html","id":"ggF29RfZC_i_text","label":"ggF29RfZC_i_text","default":"<p>affordable<br>quality</p>"},{"type":"html","id":"ggT6yem-bZS_text","label":"ggT6yem-bZS_text","default":"<p>Being affordable doesn't mean compromising on quality. Here at Ickle Bubba we work directly with our trusted manufacturers to ensure we pass on the savings to you. Shop with us and you can be assured that your budget-friendly products don't just look good, they're designed to keep bubba sae</p>"},{"type":"html","id":"ggulYB5Zoyt_text","label":"ggulYB5Zoyt_text","default":"<p>tested &amp; approved</p>"},{"type":"html","id":"ggjE6BzsyXZ_text","label":"ggjE6BzsyXZ_text","default":"<p>We work with expert manufacturers to ensure our products meet all relevant British and European safety standards. We also have a Primary Authority Partnership which provides us with assured advise on product quality and safety. Our products are regularly reviewed by industry experts and approved by media bodies. Check out our awards for more info.&nbsp;</p>"},{"type":"html","id":"ggqF7SR1riT_text","label":"ggqF7SR1riT_text","default":"<p>endorsed&nbsp;<br>by parents</p>"},{"type":"html","id":"ggzgXIw7m36_text","label":"ggzgXIw7m36_text","default":"<p>We design products to help you navigate everyday life with bubba, that's why your opinion matters most. Check out #MyIckleBubba on Instagram to see our products out and about in real life. Read our reviews on-site and check out our awards to see why parent-testers rate us.</p>"},{"type":"html","id":"gg7J0EKg1pW_text","label":"gg7J0EKg1pW_text","default":"<p>affordable<br>quality</p>"},{"type":"html","id":"ggVNFexZ61O_text","label":"ggVNFexZ61O_text","default":"<p>Being affordable doesn't mean compromising on quality. Here at Ickle Bubba we work directly with our trusted manufacturers to ensure we pass on the savings to you. Shop with us and you can be assured that your budget-friendly products don't just look good, they're designed to keep bubba sae</p>"},{"type":"html","id":"ggJfuMYq49v_label","label":"ggJfuMYq49v_label","default":"read more"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
