

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-511487164765176864.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-511487164765176864.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-511487164765176864.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-511487164765176864.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-511487164765176864.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-511487164765176864.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-511487164765176864.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-511487164765176864.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-511487164765176864.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-511487164765176864.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-511487164765176864.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-511487164765176864.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-511487164765176864.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-511487164765176864.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-511487164765176864.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-511487164765176864.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-511487164765176864.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-511487164765176864.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-511487164765176864.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-511487164765176864.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-511487164765176864.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-511487164765176864.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-511487164765176864.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-511487164765176864.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-511487164765176864.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-511487164765176864.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-511487164765176864.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-511487164765176864.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-511487164765176864.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-511487164765176864.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-511487164765176864.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-511487164765176864.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-511487164765176864.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-511487164765176864.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-511487164765176864.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-511487164765176864.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-511487164765176864.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-511487164765176864.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-511487164765176864.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-511487164765176864.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-511487164765176864.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-511487164765176864.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-511487164765176864.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-511487164765176864.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-511487164765176864.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-511487164765176864.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-511487164765176864.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-511487164765176864.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-511487164765176864.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-511487164765176864.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-511487164765176864.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-511487164765176864.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-511487164765176864.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-511487164765176864.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-511487164765176864.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-511487164765176864.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-511487164765176864.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-511487164765176864.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-511487164765176864.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-511487164765176864.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-511487164765176864.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-511487164765176864.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-511487164765176864.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-511487164765176864.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-511487164765176864.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-511487164765176864.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-511487164765176864.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-511487164765176864.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-511487164765176864.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-511487164765176864.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-511487164765176864.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-511487164765176864.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-511487164765176864.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-511487164765176864.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-511487164765176864.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-511487164765176864.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-511487164765176864.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-511487164765176864.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-511487164765176864 .-gp-rotate-90,.gps-511487164765176864 .gp-rotate-180,.gps-511487164765176864 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-511487164765176864 .gp-relative{position:relative}.gps-511487164765176864 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511487164765176864 .gp-mb-0{margin-bottom:0}.gps-511487164765176864 .gp-flex{display:flex}.gps-511487164765176864 .gp-inline-flex{display:inline-flex}.gps-511487164765176864 .gp-grid{display:grid}.gps-511487164765176864 .gp-contents{display:contents}.gps-511487164765176864 .\!gp-hidden{display:none!important}.gps-511487164765176864 .gp-hidden{display:none}.gps-511487164765176864 .gp-h-auto{height:auto}.gps-511487164765176864 .gp-h-full{height:100%}.gps-511487164765176864 .gp-min-h-0{min-height:0}.gps-511487164765176864 .gp-w-full{width:100%}.gps-511487164765176864 .gp-max-w-full{max-width:100%}.gps-511487164765176864 .gp-flex-none{flex:none}.gps-511487164765176864 .-gp-rotate-90{--tw-rotate:-90deg}.gps-511487164765176864 .-gp-rotate-90,.gps-511487164765176864 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-511487164765176864 .gp-rotate-180{--tw-rotate:180deg}.gps-511487164765176864 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-511487164765176864 .gp-cursor-pointer{cursor:pointer}.gps-511487164765176864 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-511487164765176864 .gp-flex-col{flex-direction:column}.gps-511487164765176864 .gp-items-center{align-items:center}.gps-511487164765176864 .gp-justify-center{justify-content:center}.gps-511487164765176864 .gp-gap-y-0{row-gap:0}.gps-511487164765176864 .gp-overflow-hidden{overflow:hidden}.gps-511487164765176864 .gp-overflow-clip{overflow:clip}.gps-511487164765176864 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511487164765176864 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511487164765176864 .gp-duration-200{transition-duration:.2s}.gps-511487164765176864 .gp-duration-500{transition-duration:.5s}.gps-511487164765176864 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-511487164765176864 .tablet\:\!gp-hidden{display:none!important}.gps-511487164765176864 .tablet\:gp-hidden{display:none}.gps-511487164765176864 .tablet\:gp-h-auto{height:auto}.gps-511487164765176864 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-511487164765176864 .mobile\:\!gp-hidden{display:none!important}.gps-511487164765176864 .mobile\:gp-hidden{display:none}.gps-511487164765176864 .mobile\:gp-h-auto{height:auto}.gps-511487164765176864 .mobile\:gp-flex-none{flex:none}}.gps-511487164765176864 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-511487164765176864 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-511487164765176864 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511487164765176864 .\[\&_p\]\:gp-inline p{display:inline}.gps-511487164765176864 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511487164765176864 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gwZQDZMvAY" data-id="gwZQDZMvAY"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-xl);--pr:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#E7F6F1;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwZQDZMvAY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:1"
      class="gLDGEhuEW2 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gFw8azK15c" data-id="gFw8azK15c"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:0px;--pb:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:30px;--cg-tablet:30px;--pc:start;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFw8azK15c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gSOzQe2b5N gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJYUh4M0aG">
    <div
      parentTag="Col"
        class="gJYUh4M0aG "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m);--mt-mobile:var(--g-s-m);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:32px;--size-tablet:21px;--size-mobile:21px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJYUh4M0aG_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gWLLsFGJrp">
    <div
      parentTag="Col"
        class="gWLLsFGJrp "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-xl);--mb:0px;--mr:var(--g-s-xl);--ml-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--mr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWLLsFGJrp_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gf9rRNw_O9 ">
      
    <gp-accordion
      data-id="gf9rRNw_O9"
     uid="gf9rRNw_O9"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:null;border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gf9rRNw_O9","childListNumber":[],"chidlrenUid":["g9Lq2Yb4Zh","gG9IGi5exa","gd0KmSlKfd","gG952JcNhG","g95UoPIjzu","g9GZy1Ks5N"]},"styles":{"color":{"active":"#242424","hover":"#242424","normal":"#242424"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"1px","color":"#E0E0E0","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"1px","color":"#E0E0E0","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"},"mobile":{"horizontal":"0px","vertical":"28px"}}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":null,"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}},"mobile":{"padding":{"bottom":"28px","left":"0px","right":"0px","top":"28px","type":"custom"}},"tablet":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gf9rRNw_O9"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="0"
      class="gf9rRNw_O9 gp-accordion-item gp-overflow-hidden gp-child-item-gf9rRNw_O9"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g9Lq2Yb4Zh"
        id="g9Lq2Yb4Zh"
        data-index="0"
        class="gf9rRNw_O9 gp-accordion-item-gf9rRNw_O9-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      >
       <style class="accordion-style">.gp-accordion-item-gf9rRNw_O9-0:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="0"
            class="gf9rRNw_O9 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggf9rRNw_O9_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g9Lq2Yb4Zh"
        data-index="0"
        data-show="false"
        class="gf9rRNw_O9 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g9Lq2Yb4Zh"
        data-index="0"
        class="gf9rRNw_O9 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gkm5wujuzB gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gaaSevzdxj">
    <div
      parentTag="Col"
        class="gaaSevzdxj "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--mr:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaaSevzdxj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="1"
      class="gf9rRNw_O9 gp-accordion-item gp-overflow-hidden gp-child-item-gf9rRNw_O9"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gG9IGi5exa"
        id="gG9IGi5exa"
        data-index="1"
        class="gf9rRNw_O9 gp-accordion-item-gf9rRNw_O9-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      >
       <style class="accordion-style">.gp-accordion-item-gf9rRNw_O9-1:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="1"
            class="gf9rRNw_O9 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggf9rRNw_O9_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gG9IGi5exa"
        data-index="1"
        data-show="false"
        class="gf9rRNw_O9 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gG9IGi5exa"
        data-index="1"
        class="gf9rRNw_O9 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gStIhI6tlY gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gaxVmcI2Pj">
    <div
      parentTag="Col"
        class="gaxVmcI2Pj "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--mr:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaxVmcI2Pj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="2"
      class="gf9rRNw_O9 gp-accordion-item gp-overflow-hidden gp-child-item-gf9rRNw_O9"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gd0KmSlKfd"
        id="gd0KmSlKfd"
        data-index="2"
        class="gf9rRNw_O9 gp-accordion-item-gf9rRNw_O9-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      >
       <style class="accordion-style">.gp-accordion-item-gf9rRNw_O9-2:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="2"
            class="gf9rRNw_O9 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggf9rRNw_O9_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gd0KmSlKfd"
        data-index="2"
        data-show="false"
        class="gf9rRNw_O9 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gd0KmSlKfd"
        data-index="2"
        class="gf9rRNw_O9 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="guPJ4L42Ik gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gylSxcmHr8">
    <div
      parentTag="Col"
        class="gylSxcmHr8 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--mr:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggylSxcmHr8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="3"
      class="gf9rRNw_O9 gp-accordion-item gp-overflow-hidden gp-child-item-gf9rRNw_O9"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gG952JcNhG"
        id="gG952JcNhG"
        data-index="3"
        class="gf9rRNw_O9 gp-accordion-item-gf9rRNw_O9-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      >
       <style class="accordion-style">.gp-accordion-item-gf9rRNw_O9-3:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="3"
            class="gf9rRNw_O9 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggf9rRNw_O9_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gG952JcNhG"
        data-index="3"
        data-show="false"
        class="gf9rRNw_O9 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gG952JcNhG"
        data-index="3"
        class="gf9rRNw_O9 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gbejKKpRc9 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQLLBEHwu6">
    <div
      parentTag="Col"
        class="gQLLBEHwu6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--mr:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQLLBEHwu6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="4"
      class="gf9rRNw_O9 gp-accordion-item gp-overflow-hidden gp-child-item-gf9rRNw_O9"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g95UoPIjzu"
        id="g95UoPIjzu"
        data-index="4"
        class="gf9rRNw_O9 gp-accordion-item-gf9rRNw_O9-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      >
       <style class="accordion-style">.gp-accordion-item-gf9rRNw_O9-4:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="4"
            class="gf9rRNw_O9 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggf9rRNw_O9_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g95UoPIjzu"
        data-index="4"
        data-show="false"
        class="gf9rRNw_O9 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g95UoPIjzu"
        data-index="4"
        class="gf9rRNw_O9 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gqJIjB0hp8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKINrsML1M">
    <div
      parentTag="Col"
        class="gKINrsML1M "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--mr:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggKINrsML1M_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="5"
      class="gf9rRNw_O9 gp-accordion-item gp-overflow-hidden gp-child-item-gf9rRNw_O9"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g9GZy1Ks5N"
        id="g9GZy1Ks5N"
        data-index="5"
        class="gf9rRNw_O9 gp-accordion-item-gf9rRNw_O9-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      >
       <style class="accordion-style">.gp-accordion-item-gf9rRNw_O9-5:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="5"
            class="gf9rRNw_O9 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggf9rRNw_O9_childItem_5 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g9GZy1Ks5N"
        data-index="5"
        data-show="false"
        class="gf9rRNw_O9 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g9GZy1Ks5N"
        data-index="5"
        class="gf9rRNw_O9 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="g-AvCIJziE gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gk059ista1">
    <div
      parentTag="Col"
        class="gk059ista1 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--mr:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggk059ista1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gw6--oE_5C"
    role="presentation"
    class="gp-group/image gw6--oE_5C gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_467963313750279047-f17177d6-01e4-4116-a076-38aab977caa0.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_467963313750279047-f17177d6-01e4-4116-a076-38aab977caa0.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_467963313750279047-f17177d6-01e4-4116-a076-38aab977caa0.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gOGhDP7ISp gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="geGDZ7B4Ru"
    role="presentation"
    class="gp-group/image geGDZ7B4Ru gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_467963313750279047-444be841-b527-4746-9708-6754dfe134f9.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_467963313750279047-444be841-b527-4746-9708-6754dfe134f9.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_467963313750279047-444be841-b527-4746-9708-6754dfe134f9.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-geGDZ7B4Ru">
        .geGDZ7B4Ru {

}
.geGDZ7B4Ru > figure > img {

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-511487164765176864 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=511487164664513568&sectionId=511487164765176864)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJYUh4M0aG_text","label":"ggJYUh4M0aG_text","default":"<p>frequently Asked Questions</p>"},{"type":"html","id":"ggWLLsFGJrp_text","label":"ggWLLsFGJrp_text","default":"<p>Have questions? Were here to help</p>"},{"type":"html","id":"ggf9rRNw_O9_childItem_0","label":"ggf9rRNw_O9_childItem_0","default":"<p>How can I be sure that your car seats are safe?</p>"},{"type":"html","id":"ggf9rRNw_O9_childItem_1","label":"ggf9rRNw_O9_childItem_1","default":"<p>How do I know my Car Seat is fitted correctly?</p>"},{"type":"html","id":"ggf9rRNw_O9_childItem_2","label":"ggf9rRNw_O9_childItem_2","default":"<p>Why aren't your Car Seats tested to Swedish Plus testing?</p>"},{"type":"html","id":"ggf9rRNw_O9_childItem_3","label":"ggf9rRNw_O9_childItem_3","default":"<p>Are your car seats ADAC approved?</p>"},{"type":"html","id":"ggf9rRNw_O9_childItem_4","label":"ggf9rRNw_O9_childItem_4","default":"<p>How do you ensure any issues concerning Car Seat quality are dealt with?</p>"},{"type":"html","id":"ggf9rRNw_O9_childItem_5","label":"ggf9rRNw_O9_childItem_5","default":"<p>Does my Car Seat have an expiration date?&nbsp;</p>"},{"type":"html","id":"ggaaSevzdxj_text","label":"ggaaSevzdxj_text","default":"<p>All of our car seats comply with the most up-to-date UK and EU safety and testing standards - ECE R129 or ECE R44. In addition, we have IOSH-accredited car seat experts within our product, sales and customer care teams who are trained on child seat safety.&nbsp;</p>"},{"type":"html","id":"ggaxVmcI2Pj_text","label":"ggaxVmcI2Pj_text","default":"<p>You should always follow your car seat product user guide to ensure correct installation of your car seat. When it comes to ensuring your child fits comfortably in their car seat, every child is different and therefore while we design products to ensure they grow with your baby, sometimes a car seat just isn't the perfect fit for your child. For more advice on how to install an ISOFIX car seat visit our blog <a href=\"https://icklebubba.com/blogs/parenting/how-to-install-an-isofix-car-seat\"><strong><u>here</u></strong></a> or for any other product advice, make sure to email us <a href=\"mailto:contact@icklebubba.com\"><u>contact@icklebubba.com</u></a></p>"},{"type":"html","id":"ggylSxcmHr8_text","label":"ggylSxcmHr8_text","default":"<p>This type of testing isn't relevant to our car seat products. This can only be carried out on Rearward facing only car seats that are for 105cm or 125cm.</p>"},{"type":"html","id":"ggQLLBEHwu6_text","label":"ggQLLBEHwu6_text","default":"<p>ADAC is an auto insurance company (founded in Germany) that rigorously tests car seats, surpassing standard EU regulations. They conduct two rounds of testing each year - Spring and Autumn. They independently choose which car seats to test therefore Ickle Bubba have no influence over this.&nbsp;</p>"},{"type":"html","id":"ggKINrsML1M_text","label":"ggKINrsML1M_text","default":"<p>In the rare event that we receive a quality concern from customers, our customer care team work closely with our product team to ensure any complaints are dealt with and resolved promptly. We handle anything that may need escalation alongside our Primary Authority Partnership which provide us with assured advise on product quality and safety.&nbsp;</p>"},{"type":"html","id":"ggk059ista1_text","label":"ggk059ista1_text","default":"<p><span style=\"color:rgb(33,33,33);\">There is no&nbsp;clearly defined expiration period for a childs car seat within R44 or R129.</span></p><p><span style=\"color:rgb(33,33,33);\">&nbsp;</span></p><p><span style=\"color:rgb(33,33,33);\">It is usually recommended to replace a car seat after 5 to 10 years from its production date (not purchase date). This is because materials like plastic and metal can degrade over time.&nbsp;The durability of a child car seat depends on many environmental factors, including prolonged exposure to strong UV rays in a car which can accelerate aging of plastic parts reducing its safe useable period.</span></p><p><span style=\"color:rgb(33,33,33);\">&nbsp;</span></p><p><span style=\"color:rgb(33,33,33);\">All products have a printed production label like below that shows the month and year it was produced:</span></p><p><span style=\"font-size:11pt;\">&nbsp;</span></p><p><span style=\"font-size:11pt;\">&nbsp;</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
