

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-501520578482537493.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-501520578482537493.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-501520578482537493.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-501520578482537493.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-501520578482537493.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-501520578482537493.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-501520578482537493.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-501520578482537493.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-501520578482537493.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-501520578482537493.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-501520578482537493.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-501520578482537493.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-501520578482537493.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-501520578482537493.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-501520578482537493.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-501520578482537493.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-501520578482537493.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-501520578482537493.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-501520578482537493.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-501520578482537493.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-501520578482537493.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-501520578482537493.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-501520578482537493.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-501520578482537493.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-501520578482537493.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-501520578482537493.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-501520578482537493.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-501520578482537493.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-501520578482537493.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-501520578482537493.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-501520578482537493.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-501520578482537493.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-501520578482537493.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-501520578482537493.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-501520578482537493.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-501520578482537493.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-501520578482537493.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-501520578482537493.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-501520578482537493.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-501520578482537493.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-501520578482537493.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-501520578482537493.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-501520578482537493.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-501520578482537493.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-501520578482537493.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-501520578482537493.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-501520578482537493.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-501520578482537493.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-501520578482537493.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-501520578482537493.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-501520578482537493.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-501520578482537493.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-501520578482537493.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-501520578482537493.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-501520578482537493.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-501520578482537493.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-501520578482537493.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-501520578482537493.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-501520578482537493.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-501520578482537493.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-501520578482537493.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-501520578482537493.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-501520578482537493.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-501520578482537493.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-501520578482537493.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-501520578482537493.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-501520578482537493.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-501520578482537493.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-501520578482537493.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-501520578482537493.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-501520578482537493.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-501520578482537493.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-501520578482537493.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-501520578482537493.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-501520578482537493.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-501520578482537493.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-501520578482537493.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-501520578482537493.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-501520578482537493.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-501520578482537493.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-501520578482537493.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-501520578482537493.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-501520578482537493.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-501520578482537493.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-501520578482537493 .gp-absolute{position:absolute}.gps-501520578482537493 .gp-relative{position:relative}.gps-501520578482537493 .gp-z-1{z-index:1}.gps-501520578482537493 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-501520578482537493 .gp-mb-0{margin-bottom:0}.gps-501520578482537493 .gp-flex{display:flex}.gps-501520578482537493 .gp-grid{display:grid}.gps-501520578482537493 .gp-contents{display:contents}.gps-501520578482537493 .\!gp-hidden{display:none!important}.gps-501520578482537493 .gp-hidden{display:none}.gps-501520578482537493 .gp-h-full{height:100%}.gps-501520578482537493 .gp-w-full{width:100%}.gps-501520578482537493 .gp-max-w-full{max-width:100%}.gps-501520578482537493 .gp-flex-col{flex-direction:column}.gps-501520578482537493 .gp-items-center{align-items:center}.gps-501520578482537493 .\!gp-justify-center{justify-content:center!important}.gps-501520578482537493 .gp-gap-y-0{row-gap:0}.gps-501520578482537493 .gp-overflow-hidden{overflow:hidden}.gps-501520578482537493 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-501520578482537493 .gp-duration-200{transition-duration:.2s}.gps-501520578482537493 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-501520578482537493 .tablet\:gp-absolute{position:absolute}.gps-501520578482537493 .tablet\:\!gp-hidden{display:none!important}.gps-501520578482537493 .tablet\:gp-hidden{display:none}.gps-501520578482537493 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-501520578482537493 .mobile\:gp-absolute{position:absolute}.gps-501520578482537493 .mobile\:\!gp-hidden{display:none!important}.gps-501520578482537493 .mobile\:gp-hidden{display:none}.gps-501520578482537493 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-501520578482537493 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-501520578482537493 .mobile\:\!gp-justify-center{justify-content:center!important}.gps-501520578482537493 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-501520578482537493 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-501520578482537493 .\[\&_p\]\:gp-inline p{display:inline}.gps-501520578482537493 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-501520578482537493 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="i2lb57f7f244e" data-id="i2lb57f7f244e"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(217, 214, 209);--bgi:url()"
        class="i2lb57f7f244e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_IggkoppFrykL gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:flex;--d-mobile:none;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","height":1667,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","storage":"FILE_CONTENT","width":4000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","height":1667,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","storage":"FILE_CONTENT","width":4000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"467963313750279047-25af2b09-8511-4215-9b98-368921d5433f.jpg","height":2967,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/467963313750279047-25af2b09-8511-4215-9b98-368921d5433f.jpg","storage":"FILE_CONTENT","width":2000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g-MBvxQtYl","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"top"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="g-MBvxQtYl gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:none;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto"
        data-id="g-MBvxQtYl"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-start"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "467963313750279047-25af2b09-8511-4215-9b98-368921d5433f_768x.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8_1024x.jpg" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-mobile:auto;--w-tablet:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg" | file_url }}');--bgi-tablet:url('{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8_1024x.jpg" | file_url }}');--bgi-mobile:url('{{ "467963313750279047-25af2b09-8511-4215-9b98-368921d5433f_768x.jpg" | file_url }}');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:1"
      class="gHhkMKlP64 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g139e86tX-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g139e86tX- "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--size:46px;--size-tablet:46px;--size-mobile:41px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg139e86tX-_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="sRykfJKiuSqO"
    role="presentation"
    class="gp-group/image sRykfJKiuSqO"
    style="--mt:0px;--ml:0px;--mb:var(--g-s-m);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "467963313750279047-664c3b41-bf34-483d-b97f-fdc7fc120a81_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTU4LTMxOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0idXJsKCNnLTk1OC0zMTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NTgiIHRvPSI5NTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "467963313750279047-664c3b41-bf34-483d-b97f-fdc7fc120a81_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTU4LTMxOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0idXJsKCNnLTk1OC0zMTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NTgiIHRvPSI5NTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTU4LTMxOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0idXJsKCNnLTk1OC0zMTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NTgiIHRvPSI5NTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "467963313750279047-664c3b41-bf34-483d-b97f-fdc7fc120a81.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSQy29GLoS">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gSQy29GLoS "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:75%;--w-tablet:75%;--w-mobile:75%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:300;--size:32px;--size-tablet:32px;--size-mobile:29px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--c:#121212;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSQy29GLoS_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0;--d-mobile:none"
      class="gmM_kmZDx9 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:none;--d-mobile:flex;--d-tablet:none">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","height":1667,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","storage":"FILE_CONTENT","width":4000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","height":1667,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","storage":"FILE_CONTENT","width":4000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"467963313750279047-25af2b09-8511-4215-9b98-368921d5433f.jpg","height":2967,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/467963313750279047-25af2b09-8511-4215-9b98-368921d5433f.jpg","storage":"FILE_CONTENT","width":2000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gZpNxgJRhH","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"top"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="gZpNxgJRhH gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:flex;--d-tablet:none;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto"
        data-id="gZpNxgJRhH"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-start"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "467963313750279047-25af2b09-8511-4215-9b98-368921d5433f_768x.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8_1024x.jpg" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-mobile:auto;--w-tablet:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg" | file_url }}');--bgi-tablet:url('{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8_1024x.jpg" | file_url }}');--bgi-mobile:url('{{ "467963313750279047-25af2b09-8511-4215-9b98-368921d5433f_768x.jpg" | file_url }}');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:1"
      class="gCRogocKAa gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-whsXXZkm">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g-whsXXZkm "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:75%;--w-tablet:75%;--w-mobile:75%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:300;--size:32px;--size-tablet:32px;--size-mobile:21px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--c:#121212;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-whsXXZkm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0"
      class="gid2iOkMva gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4xCe9PtWm">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g4xCe9PtWm "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m);--mb-mobile:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--size:46px;--size-tablet:46px;--size-mobile:27px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4xCe9PtWm_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gEiPqhM_WF"
    role="presentation"
    class="gp-group/image gEiPqhM_WF"
    style="--mt:0px;--ml:0px;--mb:var(--g-s-m);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:var(--g-s-xs);--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "467963313750279047-664c3b41-bf34-483d-b97f-fdc7fc120a81_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTU4LTMxOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0idXJsKCNnLTk1OC0zMTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NTgiIHRvPSI5NTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "467963313750279047-664c3b41-bf34-483d-b97f-fdc7fc120a81_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTU4LTMxOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0idXJsKCNnLTk1OC0zMTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NTgiIHRvPSI5NTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTU4LTMxOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTU4IiBoZWlnaHQ9IjMxOSIgZmlsbD0idXJsKCNnLTk1OC0zMTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NTgiIHRvPSI5NTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "467963313750279047-664c3b41-bf34-483d-b97f-fdc7fc120a81.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:50%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-501520578482537493 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=501520126605001722&sectionId=501520578482537493)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg139e86tX-_text","label":"gg139e86tX-_text","default":"<p>JOIN OUR</p>"},{"type":"html","id":"ggSQy29GLoS_text","label":"ggSQy29GLoS_text","default":"<p>HELP US, HELP PARENTS</p>"},{"type":"html","id":"gg-whsXXZkm_text","label":"gg-whsXXZkm_text","default":"<p>HELP US, HELP PARENTS</p>"},{"type":"html","id":"gg4xCe9PtWm_text","label":"gg4xCe9PtWm_text","default":"<p>JOIN OUR</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
