

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-508712774537315449.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-508712774537315449.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-508712774537315449.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-508712774537315449.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-508712774537315449.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-508712774537315449.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-508712774537315449.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-508712774537315449.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-508712774537315449.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-508712774537315449.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-508712774537315449.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-508712774537315449.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-508712774537315449.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-508712774537315449.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-508712774537315449.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-508712774537315449.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-508712774537315449.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-508712774537315449.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-508712774537315449.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-508712774537315449.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-508712774537315449.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-508712774537315449.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-508712774537315449.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-508712774537315449.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-508712774537315449.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-508712774537315449.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-508712774537315449.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-508712774537315449.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-508712774537315449.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-508712774537315449.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-508712774537315449.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-508712774537315449.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-508712774537315449.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-508712774537315449.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-508712774537315449.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-508712774537315449.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-508712774537315449.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-508712774537315449.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-508712774537315449.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-508712774537315449.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-508712774537315449.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-508712774537315449.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-508712774537315449.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-508712774537315449.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-508712774537315449.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-508712774537315449.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-508712774537315449.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-508712774537315449.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-508712774537315449.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-508712774537315449.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-508712774537315449.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-508712774537315449.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-508712774537315449.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-508712774537315449.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-508712774537315449.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-508712774537315449.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-508712774537315449.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-508712774537315449.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-508712774537315449.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-508712774537315449.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-508712774537315449.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-508712774537315449.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-508712774537315449.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-508712774537315449.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-508712774537315449.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-508712774537315449.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-508712774537315449.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-508712774537315449.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-508712774537315449.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-508712774537315449.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-508712774537315449.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-508712774537315449.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-508712774537315449.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-508712774537315449.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-508712774537315449.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-508712774537315449.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-508712774537315449 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-508712774537315449 .gp-relative{position:relative}.gps-508712774537315449 .gp-z-1{z-index:1}.gps-508712774537315449 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-508712774537315449 .gp-mb-0{margin-bottom:0}.gps-508712774537315449 .\!gp-inline{display:inline!important}.gps-508712774537315449 .gp-flex{display:flex}.gps-508712774537315449 .gp-inline-flex{display:inline-flex}.gps-508712774537315449 .gp-grid{display:grid}.gps-508712774537315449 .\!gp-hidden{display:none!important}.gps-508712774537315449 .gp-hidden{display:none}.gps-508712774537315449 .gp-h-full{height:100%}.gps-508712774537315449 .gp-w-full{width:100%}.gps-508712774537315449 .gp-max-w-full{max-width:100%}.gps-508712774537315449 .gp-flex-col{flex-direction:column}.gps-508712774537315449 .gp-items-center{align-items:center}.gps-508712774537315449 .gp-justify-center{justify-content:center}.gps-508712774537315449 .gp-gap-y-0{row-gap:0}.gps-508712774537315449 .gp-overflow-hidden{overflow:hidden}.gps-508712774537315449 .gp-break-words{overflow-wrap:break-word}.gps-508712774537315449 .gp-rounded-none{border-radius:0}.gps-508712774537315449 .gp-text-center{text-align:center}.gps-508712774537315449 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-508712774537315449 .gp-no-underline{text-decoration-line:none}.gps-508712774537315449 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-508712774537315449 .gp-duration-200{transition-duration:.2s}.gps-508712774537315449 .gp-duration-300{transition-duration:.3s}.gps-508712774537315449 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-508712774537315449 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-508712774537315449 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-508712774537315449 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-508712774537315449 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-508712774537315449 .tablet\:\!gp-hidden{display:none!important}.gps-508712774537315449 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-508712774537315449 .mobile\:\!gp-hidden{display:none!important}.gps-508712774537315449 .mobile\:gp-hidden{display:none}}.gps-508712774537315449 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-508712774537315449 .\[\&_p\]\:gp-inline p{display:inline}.gps-508712774537315449 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-508712774537315449 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-508712774537315449 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="i2l316dd6f1f9" data-id="i2l316dd6f1f9"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:40px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 254, 254)"
        class="i2l316dd6f1f9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l316dd6f1f9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gooM62in-C" data-id="gooM62in-C"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gooM62in-C gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4YiwjCXnE gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gx6bAj8NV0">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gx6bAj8NV0 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m);--mb-mobile:0px;--pb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:32px;--size-tablet:21px;--size-mobile:21px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:lowercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggx6bAj8NV0_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gmZv2iOd6F">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gmZv2iOd6F "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:var(--g-s-xl);--mr:var(--g-s-xl);--ml-mobile:var(--g-s-l);--mb-mobile:0px;--mr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmZv2iOd6F_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gTSC9IHhpw" data-id="gTSC9IHhpw"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:linear-gradient(0deg, #FCEDEA 60%, #FFFFFF 60%);--bgc-mobile:linear-gradient(0deg, #FCEDEA 85%, #FFFFFF 85%);--bgi:linear-gradient(0deg, #FCEDEA 60%, #FFFFFF 60%);--bgi-mobile:linear-gradient(0deg, #FCEDEA 85%, #FFFFFF 85%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gTSC9IHhpw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glLVJrGRfX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g-NB1TIJuI" data-id="g-NB1TIJuI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--pb-mobile:30px;--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-NB1TIJuI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjZXCLjGNo gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gBkOFWvx88"
    role="presentation"
    class="gp-group/image gBkOFWvx88"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-faa5d970-390e-40e7-a097-bfe6405452eb.jpg" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-faa5d970-390e-40e7-a097-bfe6405452eb.jpg' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-faa5d970-390e-40e7-a097-bfe6405452eb.jpg' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-faa5d970-390e-40e7-a097-bfe6405452eb.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2000" height="2000" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:1534px;--w-tablet:1534px;--w-mobile:1534px;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="gGYp8ct6jA">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gGYp8ct6jA "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:28px;--size-tablet:16px;--size-mobile:21px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGYp8ct6jA_text | downcase }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    
  >
    <style>
    .gXieK549Ck.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gXieK549Ck:hover::before {
      
      
    }

    .gXieK549Ck:hover .gp-button-icon {
      color: undefined;
    }

     .gXieK549Ck .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gXieK549Ck:hover .gp-button-price {
      color: undefined;
    }

    .gXieK549Ck .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gXieK549Ck .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gXieK549Ck:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/all-travel" target="_blank" data-id="gXieK549Ck" aria-label="shop now"
      
      data-state="idle"
      class="gXieK549Ck gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#212121;--bg:#212121;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-l);--pr:var(--g-s-l);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--c:var(--g-c-text-3, text-3);--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggXieK549Ck_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gXieK549Ck">
        .gXieK549Ck span {
    color: white;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giDJofVW9Q gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gadvHjg_d2"
    role="presentation"
    class="gp-group/image gadvHjg_d2"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-d0c79ca4-7bd8-4ae5-97ca-faa5d0687184.jpg" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-d0c79ca4-7bd8-4ae5-97ca-faa5d0687184.jpg' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-d0c79ca4-7bd8-4ae5-97ca-faa5d0687184.jpg' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-d0c79ca4-7bd8-4ae5-97ca-faa5d0687184.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2000" height="2000" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:1534px;--w-tablet:1534px;--w-mobile:1534px;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="gBWCAaXzNN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gBWCAaXzNN "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:28px;--size-tablet:16px;--size-mobile:21px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBWCAaXzNN_text | downcase }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    
  >
    <style>
    .gH0sqS2bE-.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gH0sqS2bE-:hover::before {
      
      
    }

    .gH0sqS2bE-:hover .gp-button-icon {
      color: undefined;
    }

     .gH0sqS2bE- .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gH0sqS2bE-:hover .gp-button-price {
      color: undefined;
    }

    .gH0sqS2bE- .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gH0sqS2bE- .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gH0sqS2bE-:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/pages/car-seat-safety" target="_blank" data-id="gH0sqS2bE-" aria-label="Find out more"
      
      data-state="idle"
      class="gH0sqS2bE- gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#212121;--bg:#212121;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-l);--pr:var(--g-s-l);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--c:var(--g-c-text-3, text-3);--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggH0sqS2bE-_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gH0sqS2bE-">
        .gH0sqS2bE- span {
    color: white;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOuSmNDb4- gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gK1chw6Ecc"
    role="presentation"
    class="gp-group/image gK1chw6Ecc"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-b7fa09ce-63bb-49c7-a477-2d83d6640cc1.jpg" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-b7fa09ce-63bb-49c7-a477-2d83d6640cc1.jpg' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-b7fa09ce-63bb-49c7-a477-2d83d6640cc1.jpg' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-b7fa09ce-63bb-49c7-a477-2d83d6640cc1.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2000" height="2000" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:1534px;--w-tablet:1534px;--w-mobile:1534px;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="g3GEHYpIfL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g3GEHYpIfL "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:28px;--size-tablet:16px;--size-mobile:21px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3GEHYpIfL_text | downcase }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    
  >
    <style>
    .gjbMDhtil7.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gjbMDhtil7:hover::before {
      
      
    }

    .gjbMDhtil7:hover .gp-button-icon {
      color: undefined;
    }

     .gjbMDhtil7 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gjbMDhtil7:hover .gp-button-price {
      color: undefined;
    }

    .gjbMDhtil7 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gjbMDhtil7 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gjbMDhtil7:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/furniture" target="_blank" data-id="gjbMDhtil7" aria-label="shop now"
      
      data-state="idle"
      class="gjbMDhtil7 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#212121;--bg:#212121;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-l);--pr:var(--g-s-l);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--c:var(--g-c-text-3, text-3);--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggjbMDhtil7_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gjbMDhtil7">
        .gjbMDhtil7 span {
    color: white;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-508712774537315449 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=508712774453429369&sectionId=508712774537315449)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggx6bAj8NV0_text","label":"ggx6bAj8NV0_text","default":"<p>our family.</p>"},{"type":"html","id":"ggmZv2iOd6F_text","label":"ggmZv2iOd6F_text","default":"<p>Our family of products are born out of our founders and their mission to help new parents make smart, informed choices and keep costs under control. This ethos remains at the heart of everything we do today. Working with a dedicated, passionate team, we create great quality products for parents no matter what their budget.</p>"},{"type":"html","id":"ggGYp8ct6jA_text","label":"ggGYp8ct6jA_text","default":"<p>Travel Systems<br>&amp; Strollers</p>"},{"type":"html","id":"ggXieK549Ck_label","label":"ggXieK549Ck_label","default":"shop now"},{"type":"html","id":"ggBWCAaXzNN_text","label":"ggBWCAaXzNN_text","default":"<p>Car<br>Seats</p>"},{"type":"html","id":"ggH0sqS2bE-_label","label":"ggH0sqS2bE-_label","default":"Find out more"},{"type":"html","id":"gg3GEHYpIfL_text","label":"gg3GEHYpIfL_text","default":"<p>Furniture &amp; Nursery Softs</p>"},{"type":"html","id":"ggjbMDhtil7_label","label":"ggjbMDhtil7_label","default":"shop now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
