

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-513772506511836006.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-513772506511836006.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-513772506511836006.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-513772506511836006.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-513772506511836006.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-513772506511836006.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-513772506511836006.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-513772506511836006.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-513772506511836006.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-513772506511836006.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-513772506511836006.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-513772506511836006.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-513772506511836006.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-513772506511836006.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-513772506511836006.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-513772506511836006.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-513772506511836006.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-513772506511836006.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-513772506511836006.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-513772506511836006.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-513772506511836006.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-513772506511836006.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-513772506511836006.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-513772506511836006.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-513772506511836006.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-513772506511836006.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-513772506511836006.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-513772506511836006.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-513772506511836006.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-513772506511836006.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-513772506511836006.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-513772506511836006.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-513772506511836006.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-513772506511836006.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-513772506511836006.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-513772506511836006.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-513772506511836006.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-513772506511836006.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-513772506511836006.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-513772506511836006.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-513772506511836006.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-513772506511836006.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-513772506511836006.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-513772506511836006.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-513772506511836006.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-513772506511836006.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-513772506511836006.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-513772506511836006.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-513772506511836006.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-513772506511836006.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-513772506511836006.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-513772506511836006 .gp-relative{position:relative}.gps-513772506511836006 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-513772506511836006 .gp-mb-0{margin-bottom:0}.gps-513772506511836006 .\!gp-inline{display:inline!important}.gps-513772506511836006 .gp-flex{display:flex}.gps-513772506511836006 .gp-grid{display:grid}.gps-513772506511836006 .\!gp-hidden{display:none!important}.gps-513772506511836006 .gp-hidden{display:none}.gps-513772506511836006 .gp-h-full{height:100%}.gps-513772506511836006 .gp-w-full{width:100%}.gps-513772506511836006 .gp-max-w-full{max-width:100%}.gps-513772506511836006 .gp-flex-col{flex-direction:column}.gps-513772506511836006 .gp-gap-y-0{row-gap:0}.gps-513772506511836006 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-513772506511836006 .gp-duration-200{transition-duration:.2s}.gps-513772506511836006 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-513772506511836006 .tablet\:\!gp-hidden{display:none!important}.gps-513772506511836006 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-513772506511836006 .mobile\:\!gp-hidden{display:none!important}.gps-513772506511836006 .mobile\:gp-hidden{display:none}}.gps-513772506511836006 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-513772506511836006 .\[\&_p\]\:gp-inline p{display:inline}.gps-513772506511836006 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-513772506511836006 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g3Gjp9LzO5" data-id="g3Gjp9LzO5"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#E7F6F1;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3Gjp9LzO5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmhiTfoYL0 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gwEfzXIEyV" data-id="gwEfzXIEyV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwEfzXIEyV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gJrdSFzHsl gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gRgiG5WdJz">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRgiG5WdJz "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:19px;--size-tablet:16px;--size-mobile:16px;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRgiG5WdJz_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gRgiG5WdJz">
        .gRgiG5WdJz {

}
.gRgiG5WdJz p {

}
      </style>
    
  <gp-text data-id="g_EoSoJEYo">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g_EoSoJEYo "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:19px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_EoSoJEYo_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g_EoSoJEYo">
        .g_EoSoJEYo {

}
.g_EoSoJEYo p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gh_m2odKzS gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gI-TUS1Yoo"
    role="presentation"
    class="gp-group/image gI-TUS1Yoo"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-a63db68d-1a8b-4c58-91e5-06c863783670.png" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-a63db68d-1a8b-4c58-91e5-06c863783670.png' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-a63db68d-1a8b-4c58-91e5-06c863783670.png' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-a63db68d-1a8b-4c58-91e5-06c863783670.png' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTE2IiBoZWlnaHQ9IjQxNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTE2LTQxNyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTE2IiBoZWlnaHQ9IjQxNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTE2IiBoZWlnaHQ9IjQxNyIgZmlsbD0idXJsKCNnLTkxNi00MTcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05MTYiIHRvPSI5MTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="916" height="417" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:916/417;--aspect-tablet:916/417;--aspect-mobile:916/417;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
      <style id="custom-css-gI-TUS1Yoo">
        .gI-TUS1Yoo {

}
.gI-TUS1Yoo > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-513772506511836006 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=513772506461504358&sectionId=513772506511836006)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggRgiG5WdJz_text","label":"ggRgiG5WdJz_text","default":"<p>What is the difference between R44 and R129 car seats?</p>"},{"type":"html","id":"gg_EoSoJEYo_text","label":"gg_EoSoJEYo_text","default":"<p>Both are approved regulations (the \"R\" stands for regulation) that car seats can be sold under in the UK. R129 is also known as \"i-Size\" and is the newest regulation that includes side-impact testing, improved head and neck protection, and extended rearward facing. R44 is an older regulation, but still requires products to go through rigorous testing and safety standards. R44 is being phased out in the EU, but not in the UK. We offer car seats following both regulations to give our customers a wide range to choose from, for all budgets.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
