

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-511487164714845216.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-511487164714845216.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-511487164714845216.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-511487164714845216.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-511487164714845216.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-511487164714845216.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-511487164714845216.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-511487164714845216.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-511487164714845216.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-511487164714845216.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-511487164714845216.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-511487164714845216.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-511487164714845216.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-511487164714845216.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-511487164714845216.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-511487164714845216.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-511487164714845216.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-511487164714845216.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-511487164714845216.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-511487164714845216.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-511487164714845216.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-511487164714845216.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-511487164714845216.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-511487164714845216.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-511487164714845216.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-511487164714845216.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-511487164714845216.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-511487164714845216.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-511487164714845216.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-511487164714845216.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-511487164714845216.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-511487164714845216.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-511487164714845216.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-511487164714845216.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-511487164714845216.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-511487164714845216.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-511487164714845216.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-511487164714845216.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-511487164714845216.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-511487164714845216.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-511487164714845216.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-511487164714845216.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-511487164714845216.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-511487164714845216.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-511487164714845216.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-511487164714845216.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-511487164714845216.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-511487164714845216.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-511487164714845216.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-511487164714845216.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-511487164714845216.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-511487164714845216.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-511487164714845216.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-511487164714845216.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-511487164714845216.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-511487164714845216.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-511487164714845216.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-511487164714845216.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-511487164714845216.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-511487164714845216.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-511487164714845216.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-511487164714845216.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-511487164714845216.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-511487164714845216 .gp-absolute{position:absolute}.gps-511487164714845216 .gp-relative{position:relative}.gps-511487164714845216 .gp-z-1{z-index:1}.gps-511487164714845216 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511487164714845216 .gp-mb-0{margin-bottom:0}.gps-511487164714845216 .gp-flex{display:flex}.gps-511487164714845216 .gp-grid{display:grid}.gps-511487164714845216 .\!gp-hidden{display:none!important}.gps-511487164714845216 .gp-hidden{display:none}.gps-511487164714845216 .gp-h-full{height:100%}.gps-511487164714845216 .gp-w-full{width:100%}.gps-511487164714845216 .gp-max-w-full{max-width:100%}.gps-511487164714845216 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-511487164714845216 .gp-flex-col{flex-direction:column}.gps-511487164714845216 .gp-items-center{align-items:center}.gps-511487164714845216 .\!gp-justify-center{justify-content:center!important}.gps-511487164714845216 .gp-gap-y-0{row-gap:0}.gps-511487164714845216 .gp-overflow-hidden{overflow:hidden}.gps-511487164714845216 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511487164714845216 .gp-duration-200{transition-duration:.2s}.gps-511487164714845216 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-511487164714845216 .tablet\:gp-absolute{position:absolute}.gps-511487164714845216 .tablet\:\!gp-hidden{display:none!important}.gps-511487164714845216 .tablet\:gp-hidden{display:none}.gps-511487164714845216 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-511487164714845216 .mobile\:gp-absolute{position:absolute}.gps-511487164714845216 .mobile\:\!gp-hidden{display:none!important}.gps-511487164714845216 .mobile\:gp-hidden{display:none}.gps-511487164714845216 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-511487164714845216 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-511487164714845216 .mobile\:\!gp-justify-center{justify-content:center!important}.gps-511487164714845216 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-511487164714845216 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2lb57f7f244e" data-id="i2lb57f7f244e"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(217, 214, 209);--bgi:url()"
        class="i2lb57f7f244e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_IggkoppFrykL gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:flex;--d-mobile:none;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_467963313750279047-20ecefe6-a079-44dd-b906-1aa81dc6cb44.jpg","height":1188,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/gempages_467963313750279047-20ecefe6-a079-44dd-b906-1aa81dc6cb44.jpg?v=1714393667","storage":"FILE_CONTENT","width":4000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_467963313750279047-20ecefe6-a079-44dd-b906-1aa81dc6cb44.jpg","height":1188,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/gempages_467963313750279047-20ecefe6-a079-44dd-b906-1aa81dc6cb44.jpg?v=1714393667","storage":"FILE_CONTENT","width":4000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"467963313750279047-25af2b09-8511-4215-9b98-368921d5433f.jpg","height":2967,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/467963313750279047-25af2b09-8511-4215-9b98-368921d5433f.jpg","storage":"FILE_CONTENT","width":2000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g-MBvxQtYl","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"top"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="g-MBvxQtYl gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:none;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto"
        data-id="g-MBvxQtYl"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-start"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "467963313750279047-25af2b09-8511-4215-9b98-368921d5433f.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_467963313750279047-20ecefe6-a079-44dd-b906-1aa81dc6cb44.jpg" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "gempages_467963313750279047-20ecefe6-a079-44dd-b906-1aa81dc6cb44.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-mobile:auto;--w-tablet:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('{{ "gempages_467963313750279047-20ecefe6-a079-44dd-b906-1aa81dc6cb44.jpg" | file_url }}');--bgi-tablet:url('{{ "gempages_467963313750279047-20ecefe6-a079-44dd-b906-1aa81dc6cb44.jpg" | file_url }}');--bgi-mobile:url('{{ "467963313750279047-25af2b09-8511-4215-9b98-368921d5433f.jpg" | file_url }}');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:1;--d-mobile:none"
      class="gHhkMKlP64 gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0;--d-mobile:none"
      class="gmM_kmZDx9 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:none;--d-mobile:flex;--d-tablet:none">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","height":1667,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","storage":"FILE_CONTENT","width":4000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","height":1667,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg","storage":"FILE_CONTENT","width":4000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_467963313750279047-92c7f8e2-cb37-4e6d-b140-94cdb21a5b69.jpg","height":542,"src":"https://cdn.shopify.com/s/files/1/0680/1820/9052/files/gempages_467963313750279047-92c7f8e2-cb37-4e6d-b140-94cdb21a5b69.jpg?v=1714393681","storage":"FILE_CONTENT","width":750},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gZpNxgJRhH","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"top"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="gZpNxgJRhH gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:flex;--d-tablet:none;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto"
        data-id="gZpNxgJRhH"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-start"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_467963313750279047-92c7f8e2-cb37-4e6d-b140-94cdb21a5b69.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-mobile:auto;--w-tablet:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg" | file_url }}');--bgi-tablet:url('{{ "467963313750279047-ad8b662f-a64e-4dd7-9bbc-73b8736652f8.jpg" | file_url }}');--bgi-mobile:url('{{ "gempages_467963313750279047-92c7f8e2-cb37-4e6d-b140-94cdb21a5b69.jpg" | file_url }}');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:1;--d-mobile:none"
      class="gCRogocKAa gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0;--d-mobile:none"
      class="gid2iOkMva gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-511487164714845216 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=511487164664513568&sectionId=511487164714845216)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
