

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-511487164731622432.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-511487164731622432.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-511487164731622432.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-511487164731622432.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-511487164731622432.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-511487164731622432.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-511487164731622432.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-511487164731622432.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-511487164731622432.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-511487164731622432.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-511487164731622432.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-511487164731622432.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-511487164731622432.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-511487164731622432.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-511487164731622432.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-511487164731622432.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-511487164731622432.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-511487164731622432.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-511487164731622432.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-511487164731622432.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-511487164731622432.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-511487164731622432.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-511487164731622432.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-511487164731622432.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-511487164731622432.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-511487164731622432.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-511487164731622432.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-511487164731622432.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-511487164731622432.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-511487164731622432.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-511487164731622432.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-511487164731622432.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-511487164731622432.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-511487164731622432.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-511487164731622432.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-511487164731622432.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-511487164731622432.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-511487164731622432.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-511487164731622432.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-511487164731622432.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-511487164731622432.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-511487164731622432.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-511487164731622432.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-511487164731622432.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-511487164731622432.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-511487164731622432.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-511487164731622432.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-511487164731622432.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-511487164731622432.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-511487164731622432.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-511487164731622432.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-511487164731622432.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-511487164731622432.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-511487164731622432.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-511487164731622432.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-511487164731622432.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-511487164731622432.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-511487164731622432.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-511487164731622432.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-511487164731622432.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-511487164731622432.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-511487164731622432.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-511487164731622432.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-511487164731622432.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-511487164731622432.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-511487164731622432.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-511487164731622432.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-511487164731622432.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-511487164731622432.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-511487164731622432.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-511487164731622432 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-511487164731622432 .gp-relative{position:relative}.gps-511487164731622432 .gp-z-1{z-index:1}.gps-511487164731622432 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511487164731622432 .gp-mb-0{margin-bottom:0}.gps-511487164731622432 .gp-flex{display:flex}.gps-511487164731622432 .gp-inline-flex{display:inline-flex}.gps-511487164731622432 .gp-grid{display:grid}.gps-511487164731622432 .\!gp-hidden{display:none!important}.gps-511487164731622432 .gp-hidden{display:none}.gps-511487164731622432 .gp-h-full{height:100%}.gps-511487164731622432 .gp-max-w-full{max-width:100%}.gps-511487164731622432 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-511487164731622432 .gp-flex-col{flex-direction:column}.gps-511487164731622432 .gp-items-center{align-items:center}.gps-511487164731622432 .gp-justify-center{justify-content:center}.gps-511487164731622432 .gp-gap-y-0{row-gap:0}.gps-511487164731622432 .gp-overflow-hidden{overflow:hidden}.gps-511487164731622432 .gp-break-words{overflow-wrap:break-word}.gps-511487164731622432 .gp-rounded-none{border-radius:0}.gps-511487164731622432 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-511487164731622432 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-511487164731622432 .gp-no-underline{text-decoration-line:none}.gps-511487164731622432 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511487164731622432 .gp-duration-200{transition-duration:.2s}.gps-511487164731622432 .gp-duration-300{transition-duration:.3s}.gps-511487164731622432 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511487164731622432 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-511487164731622432 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-511487164731622432 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-511487164731622432 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-511487164731622432 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-511487164731622432 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-511487164731622432 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-511487164731622432 .tablet\:\!gp-hidden{display:none!important}.gps-511487164731622432 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511487164731622432 .mobile\:\!gp-hidden{display:none!important}.gps-511487164731622432 .mobile\:gp-hidden{display:none}}.gps-511487164731622432 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511487164731622432 .\[\&_p\]\:gp-inline p{display:inline}.gps-511487164731622432 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-511487164731622432 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511487164731622432 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l88826db625" data-id="i2l88826db625"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:40px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 254, 254);--bgi:url()"
        class="i2l88826db625 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l88826db625 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="w-i2l88826db625" data-id="w-i2l88826db625"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l88826db625 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-lvrjasagbioT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gJ9oKCAi6g" data-id="gJ9oKCAi6g"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pb:30px;--mb-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:linear-gradient(0deg, rgba(252, 237, 234, 0) 93%, #FFFFFF 93%);--bgc-mobile:linear-gradient(0deg, rgba(252, 237, 234, 0) 96%, #FFFFFF 96%);--bgi:linear-gradient(0deg, rgba(252, 237, 234, 0) 93%, #FFFFFF 93%);--bgi-mobile:linear-gradient(0deg, rgba(252, 237, 234, 0) 96%, #FFFFFF 96%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gJ9oKCAi6g gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7vrxfq9OD gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gB6VcVHP9g">
    <div
      parentTag="Col"
        class="gB6VcVHP9g "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:var(--g-s-m);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:32px;--size-tablet:21px;--size-mobile:21px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--weight:bold;--c:#212121;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggB6VcVHP9g_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gtlams6vGD">
    <div
      parentTag="Col"
        class="gtlams6vGD "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--ml:var(--g-s-xl);--mr:var(--g-s-xl);--ml-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--mr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:70%;--w-tablet:70%;--w-mobile:70%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtlams6vGD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-l);--pb:var(--g-s-l);--ta:center"
    
  >
    <style>
    .gbt84IL1c2.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gbt84IL1c2:hover::before {
      
      
    }

    .gbt84IL1c2:hover .gp-button-icon {
      color: undefined;
    }

     .gbt84IL1c2 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gbt84IL1c2:hover .gp-button-price {
      color: undefined;
    }

    .gbt84IL1c2 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gbt84IL1c2 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gbt84IL1c2:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gbt84IL1c2" aria-label="Shop the range"
      
      data-state="idle"
      class="gbt84IL1c2 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-bg-g-brand gp-text-g-text-3 gp-g-paragraph-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggbt84IL1c2_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

      <style id="custom-css-gbt84IL1c2">
        button.gbt84IL1c2 {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gIq4UH5SrU" data-id="gIq4UH5SrU"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--mb:0px;--pb:30px;--mb-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:linear-gradient(0deg, rgba(252, 237, 234, 0) 93%, #FFFFFF 93%);--bgc-mobile:linear-gradient(0deg, rgba(252, 237, 234, 0) 96%, #FFFFFF 96%);--bgi:linear-gradient(0deg, rgba(252, 237, 234, 0) 93%, #FFFFFF 93%);--bgi-mobile:linear-gradient(0deg, rgba(252, 237, 234, 0) 96%, #FFFFFF 96%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gIq4UH5SrU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCtRiji_1P gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCVS2XFU-Y">
    <div
      parentTag="Col"
        class="gCVS2XFU-Y "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:5px;--size:32px;--size-tablet:21px;--size-mobile:21px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCVS2XFU-Y_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNV5sOTpbi">
    <div
      parentTag="Col"
        class="gNV5sOTpbi "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-xl);--mr:var(--g-s-xl);--ml-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--mr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:70%;--w-tablet:70%;--w-mobile:Auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNV5sOTpbi_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-511487164731622432 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=511487164664513568&sectionId=511487164731622432)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggB6VcVHP9g_text","label":"ggB6VcVHP9g_text","default":"<p>Car Seat Safety</p>"},{"type":"html","id":"ggtlams6vGD_text","label":"ggtlams6vGD_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(21,23,24);\">Transporting your precious cargo from A to B can feel daunting at first. With so much choice out there, how do you know which car seat to choose, and how can your trust it's up to the job?</span></p><p>&nbsp;</p><p><span style=\"background-color:rgb(255,255,255);color:rgb(21,23,24);\">Here at Ickle Bubba, we offer a range of car seats which comply with all relevant British and European safety standards. For more information on these and any concerns you may have around specific testing measures, we've pulled together a list of FAQs to help assure you of our product quality and safety.</span></p>"},{"type":"html","id":"ggbt84IL1c2_label","label":"ggbt84IL1c2_label","default":"Shop the range"},{"type":"html","id":"ggCVS2XFU-Y_text","label":"ggCVS2XFU-Y_text","default":"<p>Car Seat Safety</p>"},{"type":"html","id":"ggNV5sOTpbi_text","label":"ggNV5sOTpbi_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(21,23,24);\">Transporting your precious cargo from A to B can feel daunting at first. With so much choice out there, how do you know which car seat to choose, and how can your trust it's up to the job?</span></p><p>&nbsp;</p><p><span style=\"background-color:rgb(255,255,255);color:rgb(21,23,24);\">Here at Ickle Bubba, we offer a range of car seats which comply with all relevant British and European safety standards. For more information on these and any concerns you may have around specific testing measures, we've pulled together a list of FAQs to help assure you of our product quality and safety.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
